/* -- Fonts Imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Teko:wght@300..700&display=swap");

/* overriding default browser styles */
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* utility component classes */
.row {
  display: flex;
  gap: 0.5rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 2rem;
  gap: 0.5rem;
  font-size: 14px;
  border-radius: 1.5rem;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 200ms ease-out;
}

.btn i {
  font-size: 1.2rem;
  color: inherit;
}

.btn-primary {
  background-color: #73dc8c;
}
.btn-primary:hover {
  background-color: #4f4d4d;
  color: #73dc8c;
}

.btn-secondary:hover {
  background-color: #4f4d4d;
  color: white;
}

.btn-dark {
  background-color: #363636;
  color: white;
}
.btn-dark:hover {
  background-color: #7d7d7d;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  padding: 3rem 0 7rem 0;
}

body {
  background-color: #1e1919;
  color: white;
}

/* Navbar styles */

.navbar {
  padding: 2.5rem 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  height: 2.5rem;
  cursor: pointer;
  fill: white;
  transition: fill 200ms ease-out;
}
.navbar-brand:hover {
  fill: #73dc8c;
}

.navbar-nav ul {
  list-style-type: none;
  gap: 2rem;
  font-weight: 500;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: color 200ms ease-out;
  font-size: 1.1rem;
}

.nav-link i {
  font-size: 1.2rem;
}
.nav-link:hover {
  color: #73dc8c;
}

.navbar-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* Hero section styles */

.hero-section {
  padding: 0 1rem;
}

.hero-content {
  padding: 2.5rem 3.5rem;
  text-align: center;
  padding-top: 6rem;
}

.hero-head h1 {
  font-weight: 600;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-size: 7rem;
  line-height: 0.8;
}

.hero-desc {
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem 0;
}

.hero-action-btn {
  padding: 0 0.5rem;
  background-color: #4f4d4d;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  display: inline-flex;
  height: 2.2rem;
  border-radius: 1.1rem;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 300;
}
.hero-action-btn .icon {
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  background-color: plum;
}

.hero-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
.version {
  font-size: 0.8rem;
  padding: 1rem 0;
  font-weight: 300;
}

/* Community Section */

.community-section {
  padding: 0 1rem;
  margin-bottom: 5rem;
}

.reviews-container {
  padding: 0 3.5rem;
}
.reviews-container .row {
  align-items: center;
  justify-content: space-between;
}

.reviews-container .row:nth-child(even) {
  margin: 5rem 0;
}

.review-card {
  padding: 2rem 1rem;
  border-radius: 1rem;
  width: 27%;
  position: relative;
  transition: all 200ms ease-out;
}
.review-card .review-avatar-img {
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  position: absolute;
  top: -1.5rem;
  left: 3rem;
  object-fit: cover;
}
.review-card-body .review-desc {
  font-weight: 400;
  font-size: 1rem;
}
.review-card-body .review-user {
  margin-top: 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
}
.row:nth-child(odd) .review-card:nth-child(1),
.row:nth-child(even) .review-card:nth-child(2) {
  background-color: #73dc8c;
  color: #1e1919;
}
.row:nth-child(odd) .review-card:nth-child(1):hover,
.row:nth-child(even) .review-card:nth-child(2):hover {
  transform: rotate(-5deg) scale(1.1);
}

.row:nth-child(odd) .review-card:nth-child(2),
.row:nth-child(even) .review-card:nth-child(3) {
  background-color: #4b78e6;
  color: white;
}

.row:nth-child(odd) .review-card:nth-child(2):hover,
.row:nth-child(even) .review-card:nth-child(3):hover {
  transform: rotate(5deg) scale(1.1);
}
.row:nth-child(odd) .review-card:nth-child(3),
.row:nth-child(even) .review-card:nth-child(1) {
  background-color: #fa9bfa;
  color: #1e1919;
}

.row:nth-child(odd) .review-card:nth-child(3):hover,
.row:nth-child(even) .review-card:nth-child(1):hover {
  transform: rotate(-5deg) scale(1.1);
}

.review-actions {
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
